In [127]:
import os
import pandas as pd
import dask.dataframe as da
import numpy as np
import json
import glob

In [33]:
path = "data/2016/"
a = glob.glob(os.path.join(path,"*.csv"))
path = "data/2017"
b = glob.glob(os.path.join(path,"*.csv"))

req_files = a + b

In [35]:
all_csv = [da.read_csv(f,error_bad_lines = False, dtype='unicode') for f in req_files]
df_merged = da.concat(all_csv).compute()

In [89]:
to_consider=['FlightDate' ,'Quarter' ,'Year' ,'Month' ,'DayofMonth' , 'Origin' ,'Dest' ,'DepTime' ,'DepDel15' ,'CRSDepTime' ,'DepDelayMinutes' , 'OriginAirportID' ,'DestAirportID' ,'ArrTime' ,'CRSArrTime' ,'ArrDel15' ,'ArrDelayMinutes']
airports = ['EWR','IAH', 'ATL', 'CLT', 'DEN', 'PHX', 'LAX', 'JFK', 'DFW', 'SFO', 'SEA', 'ORD', 'MIA', 'MCO', 'LAS']

In [128]:
flight_df = df_merged[to_consider]
final_df = flight_df

In [129]:
final_df = final_df.dropna()
final_df = final_df[(final_df.Origin.map(lambda x: x in airports)) & (final_df.Dest.map(lambda x : x in airports))]
final_df = final_df.drop_duplicates()
final_df

,FlightDate,Quarter,Year,Month,DayofMonth,Origin,Dest,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
57,2016-01-01,1,2016,1,1,SEA,JFK,0741,0.00,0745,0.00,14747,12478,1610,1602,0.00,8.00
58,2016-01-02,1,2016,1,2,SEA,JFK,0737,0.00,0745,0.00,14747,12478,1613,1602,0.00,11.00
59,2016-01-03,1,2016,1,3,SEA,JFK,0743,0.00,0745,0.00,14747,12478,1547,1602,0.00,0.00
60,2016-01-04,1,2016,1,4,SEA,JFK,0737,0.00,0745,0.00,14747,12478,1551,1602,0.00,0.00
61,2016-01-05,1,2016,1,5,SEA,JFK,0708,0.00,0710,0.00,14747,12478,1524,1527,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30548,2017-09-25,3,2017,9,25,SFO,JFK,2038,0.00,2045,0.00,14771,12478,0449,0522,0.00,0.00
30551,2017-09-25,3,2017,9,25,EWR,MCO,1200,0.00,1205,0.00,11618,13204,1428,1449,0.00,0.00
30552,2017-09-25,3,2017,9,25,MCO,EWR,1143,0.00,1141,2.00,13204,11618,1409,1417,0.00,0.00
30559,2017-09-25,3,2017,9,25,LAS,JFK,2157,0.00,2159,0.00,12889,12478,0540,0557,0.00,0.00
30575,2017-09-25,3,2017,9,25,MCO,JFK,0605,0.00,0605,0.00,13204,12478,0821,0837,0.00,0.00

In [126]:
final_df.to_csv("data/flight_final.csv")